.expression {
    background-color: white;
    font-size: small;
    text-align: right;
    height: 50px;     
}

.display {
    background-color: antiquewhite;
    font-size: xx-large;
    text-align: right; 
}